language: ruby
cache: bundler
rvm:
  - 2.7
  - 3.0
  - 3.1
script:
  - bundle install --path vendor/bundle
  - bundle exec rspec
  - gem build sendpost_ruby_sdk.gemspec
  - gem install ./sendpost_ruby_sdk-2.0.1.gem
